.dashboard-screen .dashboard-layout {
  height: 100vh;
}
.dashboard-screen .dashboard-layout .dashboard-slider .avatar {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard-screen .dashboard-header {
  background-color: #112335;
  padding: 5px;
}

.dashboard-screen .dashboard-header .header-menu {
  width: 200px !important;
  z-index: 1;
}

.dashboard-screen .dashboard-header .dash-header .menu-hamburger {
  float: right;
  position: relative;
  right: 40px;
  z-index: 1;
  color: white;
  font-size: 150%;
  cursor: pointer;
}

.dashboard-screen .dashboard-header .dash-header .menu-hamburger ul {
  box-shadow: 0px 0px 4px 1px #dacfcf;
  border-radius: 5px;
  position: absolute;
  left: -180px;
}

.dashboard-screen
  .dashboard-header
  .dash-header
  .menu-hamburger
  .header-menu
  li.ant-menu-item-selected {
  background-color: #e6f7ff;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}

.dashboard-screen .dashboard-header .dash-header .menu-hamburger ul li:hover {
  background-color: #e6f7ff;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}

.dashboard-screen .dashboard-header .dash-header .menu .notication-btn {
  position: absolute;
  bottom: 15px;
  right: 70px;
  font-size: 115%;
}

.dashboard-screen .dashboard-header .dash-header .menu .notification-list {
  margin-top: 55px;
  display: none;
  list-style: none;
  padding: 10px;
  margin-bottom: 0;
  box-shadow: none;
  position: absolute;
  top: 10px;
  left: -240px;
  overflow-y: scroll;
  max-height: 400px;
  max-width: 270px;
  background-color: white;
}

.dashboard-screen .dashboard-header .dash-header .menu .notification-count {
  position: absolute;
  top: 15px;
  right: 54px;
  z-index: 1;
}

.dashboard-screen
  .dashboard-header
  .dash-header
  .menu
  .notification-list.notifications-open {
  display: inline-block;
}
.dashboard-screen
  .dashboard-header
  .dash-header
  .menu
  .notification-list.notifications-open.notifications {
  box-shadow: 0px 0px 4px 1px #dacfcf;
}

.dashboard-screen
  .dashboard-header
  .dash-header
  .menu
  .notification-list
  .notification-item {
  padding: 10px;
}

.dashboard-screen .dashboard-layout .dashboard-slider .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.dashboard-screen .dashboard-layout .dashboard-slider .dasboard-navigation {
  border-right: none !important;
  background-color: #001529;
}

.dashboard-screen
  .dashboard-layout
  .dashboard-slider
  .dasboard-navigation
  .navigation-menu {
  color: #9b9bd4;
}

.dashboard-screen
  .dashboard-layout
  .dashboard-slider
  .dasboard-navigation
  .navigation-menu.ant-menu-item-selected {
  background-color: white;
  color: #1890ff;
}

.dashboard-screen
  .ant-layout-sider
  .ant-menu.ant-menu-light
  .ant-menu-item.ant-menu-item-selected:hover {
  border-right: 0px;
}

.dashboard-screen
  .ant-layout-sider
  .ant-menu.ant-menu-light
  .ant-menu-item:hover {
  background-color: white;
  color: #1890ff;
  border-right: 3px solid #1890ff;
}

.dashboard-screen .dashboard-layout .main-layout .main-content {
  margin: 5px !important;
  min-height: auto;
}

.dashboard-screen .dashboard-layout .main-layout .main-content > div {
  padding: 15px !important;
}

.dashboard-screen .setProfile-action-container button {
  height: 90px;
  width: 90px;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.dashboard-screen .setProfile-action-container span {
  font-weight: bolder;
  font-size: 24px;
  display: block;
  margin: auto;
  max-width: 125px;
}

.dashboard-screen .wizard-actions{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 25px;
}

.dashboard-screen .wizard-actions button {
  margin: 10px;
}

.ant-layout-sider-zero-width-trigger{
  z-index: 1;
}